@tailwind screens;
li .collapsible {
    width: auto;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #fff;
    border-top: #eee solid 1px;
}

.menuArrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 2px;
}

.topMenuItem::before, .mostRequestedArrow::before {
    content: "\25BA\a0";
}

.menuButton {
    margin-left: 1.5rem;
    padding: .5em 1em;
    text-transform: uppercase;
    background-color: #fff;
    color: #444;
    
}

@screen xxs {
    .menuButton {
        @apply mx-6;
    }
}

@screen lg {
    .menuButton {
        @apply mx-0;
    }
}

li>.topMenuItem {
    background-color: #444;
    color: #fff;
    padding-inline-start: 30px;
}

.listItem {
    display: block;
    width: 360px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 14px;
}

.subListItem>li>a {
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 14px;
    text-decoration: underline;
}

.subListItem>li.listItem {
    border-bottom: 1px solid #ccc;
    margin-left: 65px;
    width: auto;
}

.mostRequestedList {
    background-color: #e1e1e1;
    padding-left: 65px;
}

.content.mostRequest {
    background-color: #e1e1e1;
    padding-inline-start: 35px;
}

.menuButton.active {
    background-color: #444;
    color: #fff;
}
.menuButton.active > .menuArrow {
    border: solid white;
    border-width: 0 3px 3px 0;
}
li > .topMenuItem.active {
    background-color: #fff;
    color: #444;
}

@media screen and (min-width: 991px){

/* ...Do bigger screnn stuff */
}