li .collapsible {
    width: auto;
}
.content {
display: none;
overflow: hidden;
background-color: #fff;
border-top: #eee solid 1px;
}
.glyphicon-chevron-down::before {
    /* content: "\e114"; */
    content: "^";
}
.expicon {
    font-size: .7em;
    margin: 0 -.35em 0 .7em;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.topMenuItem::before, .mostRequestedArrow::before {
    content: "\25BA\a0";
}

.menuButton {
    margin-left: 0;
    padding: .5em 1em;
    text-transform: uppercase;
    background-color: #fff;
    color: #444;
}

li > .topMenuItem {
    background-color: #444;
    color: #fff;
    padding-inline-start: 30px;
}
.listItem {
    display: block;
    width: 360px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 14px;
}
.subListItem > li > a {
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 14px;
    text-decoration: underline;

}
.subListItem >  li.listItem {
    border-bottom: 1px solid #ccc;
    margin-left: 65px;
    width: auto;
}

.mostRequestedList {
    background-color: #e1e1e1;
    padding-left: 65px;
}
.content.mostRequest {
    background-color: #e1e1e1;
    padding-inline-start: 35px;
    
}

.menuButton.active {
    background-color: #444;
    color: #fff ;
}
li > .topMenuItem.active {
    background-color: #fff;
    color: #444 ;
}
li > .topMenuItem.active::before, .active > .mostRequestedArrow::before {
    content: "\25BC\a0";
}

@media screen and (min-width: 991px){
.menuButton:hover {
    text-decoration: underline;
}

}